<section id="headbar" class="navbar navbar-default navbar-fixed-top">
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <a href="php/register.php">Sign up</a>
            <a href="php/login.php">Sign in</a>
        </div>
    </div>
</section>
