<section id="register">
    <div class="container">
    <form class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="login">Username:</label>
            <input type="text" class="form-control" id="login">
        </div><br/>
        <div class="form-group">
            <label class="sr-only" for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd">
        </div>
    </form>
    </div>
</section>
</body>
</html>